
.container {
  scroll-behavior: smooth;
  width: 100%;
  background-color: #F3F0EB;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

