.line {
    display: block;
    background-color: #8D7147;
    transform: rotate(-200deg);
    width: 600px;
    height: 1px;
    margin: 120px 0;
}

.containeer {
    margin: 80px auto 0 auto;
    text-align: center;
    padding: 24px;
    font-family: bodoni72;
    color: #8D7147;

    h2 {
        font-size: 32px;
    }
    p {
        font-size: 20px;
        margin: 8px 0;
    }
}
.copy {
    font-weight: lighter;
    margin: 200px 0 40px 0;
}
.jap {
    font-family: sans-serif;
    font-weight: normal;
    margin: 56px 0;
}
.title {
    border-bottom: solid 1px #8D7147;
    font-weight: lighter;
    margin: 320px 0 0 0;
    letter-spacing: 0.1rem;
    line-height: 2;
}

