.footer {
    display:flex;
    justify-content:space-between;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    font-family: Bodoni72;
    color: #8D7147;

    ul {
        list-style: none;
    }
    img {
        margin-right: 40px;
    }
    p {
        font-size: 12px;
        font-weight: lighter;
        margin-top: 120px;
        letter-spacing: 0.1rem;
    }
}

.contact {
    border-bottom: solid 1px #8D7147;
    font-weight: lighter;
    font-size: 32px;
    margin-right: 16px;
    margin-bottom: 40px;
    letter-spacing: 0.2rem;
}
.social {
    font-size: 18px;
    letter-spacing: 0.3rem;
    font-weight: lighter;
    margin-right: 8px;
}
.pp {
    font-size: 18px;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    margin-right: 8px;
}